.container {
    background-image: url("../ui_images/image.svg");
    text-align: center;
    padding: 20px;
    width: 159.8vh;   
    height: 37.3vh; 
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navigationButtons {
    display: flex;
    gap: 500px; /* Space between the links */
    justify-content: center; /* Center the links horizontally */
    position: absolute;
    top: 10px; /* Adjust the vertical positioning as needed */
}

.navLink {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 30px;
}

.navLink:hover {
    color: #FF5082; /* Change color on hover */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3.7vh;
    font-weight: 450;
    line-height: 45px;
    text-align: center;
    height: 45px;
    color: #FFFADE;
    margin-bottom: 0px;
    margin-top: 60px;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    font-weight: 100;
    line-height: 35px;
    color: #FFFADE;
    margin-bottom: 20px; /* Reduced gap */
}

.buttonContainer {
    display: flex;
    gap: 20px; /* Space between the ButtonIcon components */
    justify-content: center;
    margin-bottom: 40px; 
}

.selectedButton {
    background-color: #FF5082; 
    color: white; 
}
