.button {
    background-color: white; 
    color: #5E42BB;
    padding: 0; /* Reset padding */
    border-radius: 50%; /* Ensure it's fully round */
    font-family: 'Poppins', sans-serif; 
    font-size: 2.7vh; 
    font-weight: 700; 
    border: 2px solid #5E42BB; 
    cursor: pointer; 
    display: flex; /* Use flexbox for centering content */
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 55px; /* Set explicit width */
    height: 55px; /* Set explicit height */
    text-align: center; 
    line-height: 1; /* Adjust line-height for vertical centering */
}

.selected {
    background-color: #FF5082;
    color: white;
}

.button:hover {
    background-color: #FF5082; 
    color: white; 
}

.button:focus {
    outline: none; 
}
